<h3>Tournament</h3>
<form>
    <mat-form-field>
        <input matInput placeholder="Tourament Name" name="tournamentName" [(ngModel)]="name" type="text">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Provider ID" name="providerId" [(ngModel)]="providerId" type="number">
    </mat-form-field>
    <button mat-raised-button (click)="getTournamentId()">Create Tournament</button>
</form>
<div *ngIf="error">
    <label>Error: </label>
    {{error}}
</div>
<div *ngIf="tournamentId">
    <label>Tournament ID: </label>
    {{tournamentId}}
</div>