<div>
    <h3>Tournament Provider</h3>
    <form>
        <mat-form-field>
            <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="region" name="Region">
                <mat-option value="NA">NA</mat-option>
                <mat-option value="EUW">EUW</mat-option>
                <mat-option value="EUNE">EUNE</mat-option>
                <mat-option value="KR">KR</mat-option>
                <mat-option value="LAN">LAN</mat-option>
                <mat-option value="LAS">LAS</mat-option>
                <mat-option value="OCE">OCE</mat-option>
                <mat-option value="RU">RU</mat-option>
                <mat-option value="TR">TR</mat-option>
                <mat-option value="BR">BR</mat-option>
                <mat-option value="JP">JP</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Callback URL" name="callbackUrl" [(ngModel)]="url" size="30" type="text">
        </mat-form-field>
        <button mat-raised-button (click)="getTournamentProvider()">Create Tournament Provider</button>
    </form>
    <div *ngIf="error">
        <label>Error: </label>
        {{error}}
    </div>
    <div *ngIf="providerId">
        <label>Provider Id: </label>
        {{providerId}}
    </div>
</div>