/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #C6C6C6 }
*::selection {background: #C2185B}
:root {
    --pink: #C2185B;
    --light-grey: #C6C6C6;
    --dark-grey: #424242;
}
